*~
*.pyc
deployment/config*.json
spotibuy/media/*
spotibuy/static/.sass-cache/*
.coverage
server.pem
coverage_report/*
db.sqlite3

######################
# Project Specific
######################
/src/main/webapp/dist

######################
# Node
######################
/node/**
/node_modules/**

######################
# Bower
######################
/bower_components/**

######################
# SASS
######################
.sass-cache/**

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
.idea/

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/build/**
/spring_loaded/**
/deploy/**
/media/**
venv/**
media/*
htmlcov/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
.merge_file*
media/
node_modules/
venv/
cart/migrations/
billing/migrations/
geo/migrations/
newsletter/migrations/
orders/migrations/
stores/migrations/
users/migrations/